# ________________________
# Logs
# ________________________

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ________________________
# Dependências
# ________________________

node_modules/


# ________________________
# Builds
# ________________________

dist/
dist-ssr/


# ________________________
# Arquivos locais / temporários
# ________________________

*.local
.env
.env.*
.DS_Store


# ________________________
# Configurações de editor
# ________________________

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ________________________
# Sistema operacional
# ________________________

Thumbs.db
