:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8f9fa; /* cinza clarinho tipo Bootstrap */
}

#root {
  min-height: 100vh;
}

/* Deixa o título principal mais destacado */
h1 {
  font-weight: 600;
}

/* Só pra dar um espacinho padrão nas páginas */
.page-title {
  margin-bottom: 1rem;
}
.page-subtitle {
  color: #6c757d; /* cinza do Bootstrap */
}
